.chess-desk {
  width: 500px;
  height: 500px;
  padding: 0px;
  position: relative;
  border: 1px solid black;
}

.chess-desk__game-field {
  position: absolute;
  top: 50px;
  left: 50px;
  border: 1px solid black;
}

.chess-desk__header-x {
  display: flex;
  width: 400px;
  height: 50px;
  position: absolute;
  left: 50px;
}

.chess-desk__header-x__p-top {
  top: 0px;
}

.chess-desk__header-x__p-bottom {
  bottom: 0px;
}

.chess-desk__header__letter {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: gray;
}

.chess-desk__header-y {
  width: 50px;
  height: 400px;
  position: absolute;
  top: 50px;
}

.chess-desk__header-y__p-left {
  left: 0px;
}

.chess-desk__header-y__p-right {
  right: 0px;
}
