.chess-desk {
  background-color: green;
  width: 500px;
  height: 500px;
  padding: 0px;
  position: relative;
}

.chess-desk__header-x {
  display: flex;
  width: 400px;
  height: 50px;
  background-color: orange;
  position: absolute;
  left: 50px;
}

.chess-desk__header-x__p-top {
  top: 0px;
}

.chess-desk__header-x__p-bottom {
  bottom: 0px;
}

.chess-desk__header__letter {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: gray;
}

.chess-desk__header-y {
  width: 50px;
  height: 400px;
  background-color: orange;
  position: absolute;
  top: 50px;
}

.chess-desk__header-y__p-left {
  left: 0px;
}

.chess-desk__header-y__p-right {
  right: 0px;
}

.game-field {
  background-color: gray;
  width: 400px;
  padding: 10px;
}

.game-field__row {
  display: flex;
}

.game-field__cell {
  width: 50px;
  height: 50px;
}

.game-field__cell__color-white {
  background-color: #ffffff;
}

.game-field__cell__color-black {
  background-color: #000000;
}
